.footer{

	width: 100%;
	text-align: center;
	background-color: #1c2438;

	@mixin atMedium{
		text-align: left;
	}

	&__copy-right{
		text-align: center;
		color: white;
		border-top: 1px solid rgba(255,255,255,.1);
		padding-top: 10px;
	}
	&__title{
		color: white;
	}

	&__social-icons{

		img{
		height: 20px;
		width: 20px;
		
		margin-top: 10px;
        
	    }
	    padding-right:10px;
          

	}
}