.page-section{
       padding: 2rem 0;

	   @mixin atMedium{
	   	padding: 4rem 0;
	   }

&-art-dairy{
	padding-bottom: 0;
}

&-paper-structure{

	padding-bottom: 0;
	background-color:#2f5572; 
}

&-footer{
	padding-top: 20px;
}
}